// Переменные
$text-color: #122947;
$bg-color: #F4F1ED;
$gray: #9A9DA0;

// Наследование
%title {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 32px;
	line-height: 130%;
	color: $text-color;
}

%text {
	font-family: 'm-plus-1p-Regular';
	font-weight: 400;
	font-size: 18px;
	line-height: 26px;
	color: $text-color;
}

%text-medium {
	font-family: 'm-plus-1p-Medium';
	font-weight: 500;
}

%footer-text {
	font-size: 12px;
	line-height: 18px;
	color: #959595;
}

%btn {
	display: block;
	padding: 13px 27px;
	border: 1px solid #B3BAC1;
	font-family: 'm-plus-1p-Medium';
	font-weight: 500;
	border-radius: 2px;
	font-size: 16px;
	line-height: 140%;
	transition: .3s;
	&:hover {
		background-color: rgba(252, 246, 246, 0.671);
	}
}

// Миксины


